<!DOCTYPE html>

<!-- Documentation -->
<!-- Rollover CSS Component  -->
<!-- William Erickson 08/12/2016 -->

<html>
<head>
	<meta charset="UTF-8">
	<title>Rollover CSS</title>
	<link href="css/rollover.css" rel="stylesheet">  
</head>	
<body>
     
         <div class="rollover">
            <ul>
                <li><img src="images/image1webSM.jpg" class="image-trans" alt=""></li>
                <li><img src="images/image3webSM.jpg" class="image-trans" alt=""></li>
                <li><img src="images/image4webSM.jpg" class="image-trans" alt=""></li>
                <li><img src="images/image5webSM.jpg" class="image-trans" alt=""></li>
                 <div id="clear"></div>
             </ul>                         
             </div>
             
             <div id="clear"></div>
            
</body>
</html>