* {
  box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    max-width: 100%;
}

.white {
    background: white;
}

.darkblue {
    background: darkblue;
}

.custom {
  text-align: center;
    background: slategray;
    color: white;
    text-shadow: 2px 1px #ff0000;
}

.Whitestripes {
    background-image: repeating-linear-gradient( 135deg, #333, transparent, transparent 1%, transparent 50%);
    background-size: 44px 44px;
}
