<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Custom Background Swatches</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/background_swatches.css">
    <link rel="stylesheet" href="css/custom.css">
    <style>

    </style>
</head>

<body>
    <div class="wrapper">
        
        <h1>Predawn</h1>
        <div class="Predawn"></div>
        <h1>Dawn</h1>
        <div class="Dawn"></div>
        <h1>Sunburst</h1>
        <div class="Sunburst"></div>   
        <h1>Aquadawn</h1>
        <div class="Aquadawn"></div>
        <h1>Tealsunrise</h1>
        <div class="Tealsunrise"></div>
        <h1>Dusk</h1>
        <div class="Dusk"></div>
        <h1>Sunset</h1>
        <div class="Sunset"></div>
        <h1>Night</h1>
        <div class="Night"></div>
        <h1>Midnight</h1>
        <div class="Midnight"></div>
        <h1>Day</h1>
        <div class="Day"></div>
        <h1>Ice</h1>
        <div class="Ice"></div>
        <h1>Sky</h1>
        <div class="Sky"></div>
        <h1>Bluemint</h1>
        <div class="Bluemint"></div>
        <h1>Coolmint</h1>
        <div class="Coolmint"></div>
        <h1>Mint</h1>
        <div class="Mint"></div>
        <h1>Spearmint</h1>
        <div class="Spearmint"></div>
        <h1>Mahogany</h1>
        <div class="Mahogany"></div>
        <h1>Cherry</h1>
        <div class="Cherry"></div>
        <h1>Lightcherrywood</h1>
        <div class="Lightcherrywood"></div>
        <h1>Cherrywood</h1>
        <div class="Cherrywood"></div>
        <h1>Darkcherrywood</h1>
        <div class="Darkcherrywood"></div>
        <h1>Chocolate</h1>
        <div class="Chocolate"></div>
        <h1>Stripes</h1>
        <div class="Stripes"></div>
        <h1>Smallstripes</h1>
        <div class="Smallstripes"></div>
        <h1>Whitestripes</h1>
        <div class="Whitestripes"></div>
        <h1>Pinstripes</h1>
        <div class="Pinstripes"></div>
        <h1>Bluepinstripes</h1>
        <div class="Bluepinstripes"></div>
        <h1>Aquapinstripes</h1>
        <div class="Aquapinstripes"></div>
        <h1>Redpinstripes</h1>
        <div class="Redpinstripes"></div>
        <h1>Graypinstripes</h1>
        <div class="Graypinstripes"></div>
        <h1>Linedpaper</h1>
        <div class="Linedpaper"></div>        
        <h1>Graylinedpaper</h1>
        <div class="Graylinedpaper"></div>
        <h1>Metal</h1>
        <div class="Metal"></div>
        <h1>Redmetal</h1>
        <div class="Redmetal"></div>
        <h1>Bluemetal</h1>
        <div class="Bluemetal"></div>
        <h1>Ninety_opacity</h1>
        <div class="Ninety_opacity"></div>
        <h1>Three_quarters_opacity</h1>
        <div class="Three_quarters_opacity"></div>
        <h1>Half_opacity</h1>
        <div class="Half_opacity"></div>
        <h1>Quarter_opacity</h1>
        <div class="Quarter_opacity"></div>
        <h1>One_tenth_opacity</h1>
        <div class="One_tenth_opacity"></div>
        
    </div>
</body>

</html>